leaves.zip

# Python compiled files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging files
dist/
build/
*.egg-info/
*.egg

# IDE files
.idea/
.vscode/

# Virtual environment
venv/
.venv/

datasets

.DS_Store

*.keras

augmented_images/

image *